<%- include('../partials/header') %>

<table id="list">
<table>
  <thead>
    <tr>
      <th>Year</th>
      <th>Make</th>
      <th>Model</th>
      <th>Available</th>
    </tr>
  </thead>
  <tbody>
    <% cars.forEach(function(c) { %>
      <a href="/cars/<%= c._id %>"><%= c.car %></a>
      <tr>
        <td><%= c.year %></td>
        <td><%= c.make %></td>
        <td><%= c.model %></td>
        <td><%= c.available ? "Yes" : "No" %></td>
        <td><a href="/cars/<%= c._id %>">Details</a></td>
      </tr>
      <% }); %>
  </tbody>
</table>


