<%- include('../partials/header') %>

<section id="show-page">
    <div>Year: </div>
    <div><%= car.year %></div>
    <div>Make: </div>
    <div><%= car.make %></div>
    <div>Model: </div>
    <div><%= car.model %></div>
    <h3>Available: <%= car.available ? 'Yes' : 'No' %></h3>
    
  </section>


  <h3><%= car.car %></h3>

  
<%- include('../partials/footer') %>